.classpath
!/.project
.project
.settings
target
test-output/
bin/
*.ipr
*.iml
*.iws
.idea/
.DS_Store
.idea
overlays/
pom.xml.versionsBackup
*.log

**/.checkstyle
/cas-server-webapp/build
/cas-server-webapp-support/build
/cas-server-support-saml/build
/cas-server-support-jdbc/build
/cas-server-support-generic/build
/cas-server-core/build
